# Ignore everything inside TheFlattener-C++ based on rules
/TheFlattener-C++/build/
/TheFlattener-C++/Build/
/TheFlattener-C++/CMakeFiles/
/TheFlattener-C++/CMakeCache.txt
/TheFlattener-C++/*.cmake

/TheFlattener-C++/*.exe
/TheFlattener-C++/*.out
/TheFlattener-C++/*.o
/TheFlattener-C++/*.obj
/TheFlattener-C++/*.so
/TheFlattener-C++/*.dll
/TheFlattener-C++/*.dylib
/TheFlattener-C++/*.a
/TheFlattener-C++/*.lib

/TheFlattener-C++/*.log
/TheFlattener-C++/*.tmp

/TheFlattener-C++/.vscode/
/TheFlattener-C++/.idea/
/TheFlattener-C++/*.sln
/TheFlattener-C++/*.vcxproj
/TheFlattener-C++/*.vcxproj.filters

/TheFlattener-C++/.DS_Store
/TheFlattener-C++/Thumbs.db

/TheFlattener-C++/docs/html/
/TheFlattener-C++/docs/latex/
/TheFlattener-C++/docs/*.log

/TheFlattener-C++/*~
/TheFlattener-C++/*.swp
/TheFlattener-C++/*.bak
/TheFlattener-C++/*.old

/TheFlattener-C++/*.d
/TheFlattener-C++/*.dep

/TheFlattener-C++/Testing/
/TheFlattener-C++/tests/output/
/TheFlattener-C++/Testing/Temporary/
/TheFlattener-C++/CTestTestfile.cmake
/TheFlattener-C++/Makefile

/TheFlattener-C++/private/
/TheFlattener-C++/.local/
